ionic/source/*
!ionic/source/dummy.txt
ionic/backup/*
!ionic/backup/dummy.txt

lamp/public_html/*
!lamp/public_html/dummy.txt
lamp/backup/*
!lamp/backup/dummy.txt
lamp/mysql_data/*
!lamp/mysql_data/dummy.txt
lamp/sites-available/*
!lamp/sites-available/dummy.txt
lamp/sites-enabled/*
!lamp/sites-enabled/dummy.txt

nodejs/backup/*
!nodejs/backup/dummy.txt
nodejs/source/*
!nodejs/source/dummy.txt

r-env/backup/*
!r-env/backup/dummy.txt
r-env/source/*
!r-env/source/dummy.txt
